[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "shell/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "vim/pack/plugins/start/lightline"]
	path = vim/pack/plugins/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/pack/plugins/start/vim-colors-solarized"]
	path = vim/pack/plugins/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/pack/plugins/start/vim-syntastic"]
	path = vim/pack/plugins/start/vim-syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
